/HotelReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystemClient/nbproject/private/
/HotelReservationSystemLibrary/nbproject/private/
/HotelReservationSystem-ejb/nbproject/private/
